USE [master]
GO
/****** Object:  Database [ThiTrucTuyen]    Script Date: 10/26/2021 9:44:36 PM ******/
CREATE DATABASE [ThiTrucTuyen]
 /*CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThiTrucTuyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ThiTrucTuyen.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThiTrucTuyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ThiTrucTuyen_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThiTrucTuyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThiTrucTuyen]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[MaAD] [nvarchar](20) NOT NULL,
	[IDTaiKhoanAD] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[MaAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAPAN](
	[MaDA] [nvarchar](20) NOT NULL,
	[NoiDung] [nvarchar](200) NOT NULL,
	[TrangThai] bit NOT NULL,
	[MaCH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DAPAN] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[CAUHOI](
	[MaCH] [nvarchar](20) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[DoKho] [nvarchar](15) NULL,
	[KieuCau] [nvarchar](15) NULL,
	[MaMH] [nvarchar](20) NULL,
	[GiangVienSoan] [nvarchar](20) NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDETHI]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDETHI](
	[MaDeThi] [nvarchar](20) NOT NULL,
	[MaCH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETDETHI] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC,
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHSINHVIENTHI]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHSINHVIENTHI](
	[MaDS] [nvarchar](20) NOT NULL,
	[MSSV] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DANHSACHSINHVIENTHI] PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC,
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHTHI]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHTHI](
	[MaDS] [nvarchar](20) NOT NULL,
	[NgayThi] [date] NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[MaMH] [nvarchar](20) NULL,
 CONSTRAINT [PK_DANHSACHTHI] PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[MaDeThi] [nvarchar](20) NOT NULL,
	[ThoiGian] [int] NULL,
	[SoCauDe] [int] NULL,
	[SoCauTrungBinh] [int] NULL,
	[SoCauKho] [int] NULL,
	[DotThi] [nvarchar](50) NULL,
	[MaMH] [nvarchar](20) NULL,
 CONSTRAINT [PK_DETHI] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [nvarchar](20) NOT NULL,
	[TenGiangVien] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[IDTaiKhoanGV] [nvarchar](20) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MSSV] [nvarchar](20) NOT NULL,
	[MaDeThi] [nvarchar](20) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_KETQUA_1] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [nvarchar](20) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [nvarchar](20) NOT NULL,
	[TenSinhVien] [nvarchar](50) NULL,
	[IDTaiKhoanSV] [nvarchar](20) NULL,
	[SDT] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/26/2021 9:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTaiKhoan] [nvarchar](20) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[PhanQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/**/
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_TAIKHOAN] FOREIGN KEY([IDTaiKhoanAD])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_TAIKHOAN]
GO
ALTER TABLE [dbo].[DAPAN]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_DAPAN] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CAUHOI] ([MaCH])
GO
ALTER TABLE [dbo].[DAPAN] CHECK CONSTRAINT [FK_CAUHOI_DAPAN]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_GIANGVIEN] FOREIGN KEY([GiangVienSoan])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_GIANGVIEN]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_MONHOC]
GO
ALTER TABLE [dbo].[CHITIETDETHI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDETHI_CAUHOI] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CAUHOI] ([MaCH])
GO
ALTER TABLE [dbo].[CHITIETDETHI] CHECK CONSTRAINT [FK_CHITIETDETHI_CAUHOI]
GO
ALTER TABLE [dbo].[CHITIETDETHI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDETHI_DETHI] FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DETHI] ([MaDeThi])
GO
ALTER TABLE [dbo].[CHITIETDETHI] CHECK CONSTRAINT [FK_CHITIETDETHI_DETHI]
GO
ALTER TABLE [dbo].[DANHSACHSINHVIENTHI]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSINHVIENTHI_DANHSACHTHI] FOREIGN KEY([MaDS])
REFERENCES [dbo].[DANHSACHTHI] ([MaDS])
GO
ALTER TABLE [dbo].[DANHSACHSINHVIENTHI] CHECK CONSTRAINT [FK_DANHSACHSINHVIENTHI_DANHSACHTHI]
GO
ALTER TABLE [dbo].[DANHSACHSINHVIENTHI]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSINHVIENTHI_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[DANHSACHSINHVIENTHI] CHECK CONSTRAINT [FK_DANHSACHSINHVIENTHI_SINHVIEN]
GO
ALTER TABLE [dbo].[DANHSACHTHI]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHTHI_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DANHSACHTHI] CHECK CONSTRAINT [FK_DANHSACHTHI_MONHOC]
GO
ALTER TABLE [dbo].[DETHI]  WITH CHECK ADD  CONSTRAINT [FK_DETHI_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DETHI] CHECK CONSTRAINT [FK_DETHI_MONHOC]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_TAIKHOAN] FOREIGN KEY([IDTaiKhoanGV])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_DETHI] FOREIGN KEY([MaDeThi])
REFERENCES [dbo].[DETHI] ([MaDeThi])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_DETHI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_TAIKHOAN] FOREIGN KEY([IDTaiKhoanSV])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_TAIKHOAN]
GO
/*USE [master]
GO
ALTER DATABASE [ThiTrucTuyen] SET  READ_WRITE 
GO*/
