@charset "ISO-8859-1";

body
{
    background-color: lightblue;
}
.change-pass
{
    padding-top: 10px;
    width: 300px;
    height: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: rgb(173, 158, 204);
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}

.change-pass h3
{

    color: blue;
}

.change-pass .label
{
    display: block;
    /* font-size: 17px; */
    color: rgb(24, 65, 179);
}

.change-pass .input
{
   /* display: block; */
   min-width: 200px;
   border: 1px solid black;
   padding: 10px;
   font-size: 17px;
   margin-top: 10px;
   margin-bottom: 15px;
   border-radius: 10px;
}

.change-pass .btn-capnhat
{
    margin-top: 20px;
    width: 80px;
    padding: 10px;
    background-color: rebeccapurple;
    border: none;
    color: royalblue;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}

.change-pass .btn-capnhat:active
{
    background-color: rgb(173, 158, 204);
    color: white;
}
