body{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background: url("../images/9.jpg");
}
.danhsachtk table{
	margin-top:40px;
}
.danhsachtk th{
	width:150px;
}
.nut{
	margin-top:30px;
	display: flex;
	align-content:center;
}
.nut a{
	margin:0px 92px 0px 140px;
	background-color: yellow;
	cursor: pointer;
	font-size: 16px;
	padding: 6px 31px;
	color: #ffffff !important;
	border-radius: 5px;
	background: #9B6A1D;
	border: 1px solid #9B6A1D;
	transition: 0.4s;
	text-decoration: none;
}
.nut a:hover {
  background: #292929;
}