@charset "ISO-8859-1";

body
{
    margin: 0;
    padding: 0;
    border: 0;
}
.container
{
    width: 100%;
    background-color: rgb(218, 242, 253);
    min-height: 800px;
}

.container table
{
    width: 1100px;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

.container table>caption
{
    font-size: 30px;
    margin-bottom: 20px;
    color: rebeccapurple;

    margin-top: 20px;
}

.container table, th, td 
{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: blue;
}

.container td
{
    background-color: rgb(180, 202, 218);
    color: rgb(73, 13, 238);
}

.container th 
{
    background-color: rgb(93, 93, 180);
    color: rgb(177, 210, 30);
}
.container   th, td 
{
    padding: 10px;
    font-size: 17px;
}